/* Variables */

$primaire-color: #9356DC;
$secondaire-color: #FF79DA;
$tertiaire-color: #99E2D0;

$white-color: white;
$dark-gray: #353535;
$soft-gray: #f6f6f6;

$background-gradient: linear-gradient(to left top, $primaire-color, $secondaire-color);
$lighten: rgba(255, 255, 255, 0.5);

$box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

$Shrikhand: 'Shrikhand', cursive;
$Roboto: 'Roboto', sans-serif;

/* Mixins */

@mixin changelink($colorlink: black, $decorationlink: none) {
    text-decoration: $decorationlink;
    color: $colorlink;
    cursor: pointer;
}

@mixin lighten-button {
    transition: 0.5s ease-in-out;
    background-color:rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.50); 
}

@mixin lighten-background-purple {
    transition: 0.5s ease-in-out;
    background-color: rgba(146, 86, 220, 0.15);
    background-blend-mode: lighten;
}

@mixin lighten-icon-purple {
    transition: 0.5s ease-in-out;
    color: $primaire-color;
}

/*  */

body {
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: $white-color;
    box-shadow: $box-shadow;
    position: relative;
    &__title {
        font-family: $Shrikhand;
        margin: 0;   
    }
    & a {
        @include changelink;
    }    
}

.load-spinner {
    background-color: white;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 10;
    animation: load-spinner 3s ease-in-out;
    visibility: hidden;
    &__circle-full-1 {
        width: 160px;
        height: 160px;
        box-sizing: border-box;
        border-radius: 50%;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
    }
    &__border-circle-1{
        width: 160px;
        height: 160px;
        box-sizing: border-box;
        border-top:solid 10px $primaire-color;
        border-right:solid 10px transparent;
        border-bottom:solid 10px transparent;
        border-left:solid 10px transparent;
        border-radius: 50%;
        position:absolute;
        opacity: 0.5;
        animation: spinner-1 3s linear;
    }
    &__border-circle-1::before {
        content:" ";
        width: 160px;
        height: 160px;
        box-sizing: border-box;
        border-top:solid 10px transparent;
        border-right:solid 10px transparent;
        border-bottom:solid 10px transparent;
        border-left:solid 10px $primaire-color;
        border-radius: 50%;
        position:absolute;
        top:-10px; left:-10px;
        transform:rotateZ(-30deg);
    }
    &__border-circle-1::after {
        content:" ";
        width: 160px;
        height: 160px;
        box-sizing: border-box;
        border-top:solid 10px transparent;
        border-right:solid 10px $primaire-color;
        border-bottom:solid 10px transparent;
        border-left:solid 10px transparent;
        border-radius: 50%;
        position:absolute;
        top:-10px; right:-10px;
        transform:rotateZ(30deg);
    }
    &__circle-full-2 {
        width: 120px;
        height: 120px;
        box-sizing: border-box;
        border-top:solid 12px $secondaire-color;
        border-right:solid 12px transparent;
        border-bottom:solid 12px $secondaire-color;
        border-left:solid 12px transparent;
        border-radius: 50%;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
        opacity: 0.5;
        animation: spinner-2 3s linear;
    }
    &__layer-center {
        width: 25px;
        height: 25px;
        background-color:  $white-color;
        box-sizing: border-box;
        border-radius: 50%;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
        z-index: 1;  
    }
    &__border-center {
        width: 25px;
        height: 25px;
        border-top:solid 6px $primaire-color;
        border-left:solid 6px $secondaire-color;
        border-bottom:solid 6px $primaire-color;
        border-right:solid 6px $secondaire-color;
        box-sizing: border-box;
        border-radius: 50%;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
        opacity: 0.5;   
    }
    &__center {
        width: 14px;
        height: 14px;
        background-color: $tertiaire-color;
        border: 2px solid darken($tertiaire-color, 40%);
        box-sizing: border-box;
        border-radius: 50%;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
        opacity: 0.5;
        z-index: 1;
        animation: center-scale 3s ease-in-out;
    }
    &__wave {
        width: 18px;
        height: 18px;
        border-radius: 18px;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
        border-top: 4px solid $tertiaire-color;
        border-left: 4px solid transparent;
        border-bottom: 4px solid $tertiaire-color;
        border-right: 4px solid transparent;
        border-radius: 50%;
        animation: waves 2.5s linear;
        animation-fill-mode: both;
    }
}   
    
@keyframes waves {
    0% {
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      width: 50px;
      height: 50px;
      opacity: 0;
    }
}

@keyframes spinner-1 {
    
     0% {
        transform:rotate(0);
    }

    100% {
        transform:rotate(360deg);
    }
}

@keyframes spinner-2 {
    
    0% {
       transform:rotate(0);
   }

   100% {
       transform:rotate(-360deg);
   }
}

@keyframes center-scale {
    
    0% {
        transform:scale(1);
    }

    50% {
        transform:scale(1.2);
    }

    100% {
        transform:scale(1);
    }
}

@keyframes load-spinner {

    0% {
        visibility: visible;
        opacity: 0.9;
    }
    70% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.main {
    display: flex;
    flex-direction: column;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    &__icon {
        color: $dark-gray;
        margin-right: 5px;
    }
}

input {
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #eaeaea;
    &:focus {
        background-color: $soft-gray;
        outline: none;
    }
}

::placeholder {
    color: $dark-gray;
    font-family: $Roboto;
    font-weight: 500;
    font-size: 15px;
}

.presentation {
    width: 100%;
    height: auto;
    background-color: $soft-gray;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 35px 0 45px 0;
    }
        &__title {
            text-align: center;
            max-width: 250px;
            font-weight: 500;
            font-family: $Roboto;
            margin: 0;
        }

        &__text {
            text-align: center;
            max-width: 80%;
            font-weight: 300;
            font-family: $Roboto;
            color: $dark-gray;
        }

        &__button {
            border-radius: 200px;
            font-weight: 400;
            font-family: $Roboto;
            color: $white-color;
            padding: 0 20px;
            margin-top: 10px;
            background-image: $background-gradient;
            box-shadow: $box-shadow;
            cursor: pointer;
            &:hover {
                @include lighten-button; 
            }
        }
}

.functioning {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $white-color;
    padding: 40px 0;
    &__container {
        width: 90%;
        height: auto;
    }
    &__title {
        font-family: $Roboto;
        font-weight: 500;
        font-size: 22px;
        margin: 0;
    }
    &__blocks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 0;   
    }
    &__block {
        display: flex;
        align-items: center;
        width: 97%;
        height: 55px;
        background-color: $soft-gray;
        border-radius: 20px;
        box-shadow: $box-shadow;
        margin: 10px 10px;
        position: relative;
        cursor: pointer;
        &:hover {
            @include lighten-background-purple;
        }
        &:hover > .functioning__icon {
            @include lighten-icon-purple;
        }
    }
    &__number {
        font-family: $Roboto;
        font-size: 12px;
        padding: 4.5px 8px;
        border-radius: 20px;
        color: $white-color;
        position: absolute;
        left: -10px;
        background-color: $primaire-color;
    }
    &__icon {
        color: #7e7e7e;
        margin: 0 20px 0 30px;
    }
    &__text {
        font-family: $Roboto;
        font-weight: 500;
        font-size: 15px;
    }
}

.restaurants {
    max-width: 100%;
    height: auto;
    background-color: $soft-gray;
    &__container {
        width: 90%;
        margin: auto;
        padding: 45px 0;
    }
    &__title {
        font-family: $Roboto;
        font-size: 22px;
        font-weight: 500;
        margin: 0 0 20px 0;
    }
    &__cards {
       display: grid;
       grid-template-rows: repeat(4, 260px);
       grid-template-columns: 1fr;
       grid-gap: 20px;
    }
    & a {
        @include changelink;
    }
    &__card {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: $box-shadow;
        transform: scale(1);
        position: relative;
        &:hover {
            transition: .5s ease-in-out;
            transform: scale(1.02);
        }
    }
    &__card-image {
        width: 100%;
        height: 190px;
        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }
    }
    &__card-new {
        font-family: $Roboto;
        padding: 10px 20px;
        font-weight: 500;
        color: #0e9070;
        background-color: $tertiaire-color;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        background-color: $white-color;
        border-radius: 0 0 20px 20px;
    }
    &__description-menu {
        margin-left: 15px;
    }
    &__description-name {
        font-family: $Roboto;
        font-weight: 500;
        font-size: 17px;
        margin: 0;  
    }
    &__description-city {
        font-family: $Roboto;
        font-weight: 300;
        margin: 3px 0 0 0;
    }
    &__hearth {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
        width: 35px;
    }
    .heart {
        width: 30px;
        stroke-width: 30;
        stroke: black;
        fill: white;
        cursor: pointer;
    }
    .heart-fill {
        position: absolute;
        fill: url(#heart-gradient);
        stroke-width: 20;
    }
    .heart-empty {
        position: relative; 
            &:hover {
              opacity: 0;
              transition: 0.5s ease-in-out;
            }
    }   
}

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 15px 0;
    background-color: $dark-gray;
    &__block {
        width: 90%;
        height: auto;
        margin: auto;
        color: $white-color;
    }
    &__logo {
        font-family: $Shrikhand;
        font-size: 20px;
        margin: 0 0 10px 0;
    }
    &__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__link {
        display: flex;
        align-items: center;
    }
    & i {
        margin-right: 7px;
        cursor: pointer;
    }
    &__link-text {
        font-family: $Roboto;
        font-weight: 400;
        font-size: 15px;
        margin: 5px 0;
    }
    & a {
        @include changelink(white);
        & :hover {
            @include changelink(white, underline);
        }
    }
}

@media screen and (min-width: 768px) {
    .functioning__blocks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__block {
            width: 100%;
        }
    }

    .restaurants__cards {
        display: grid;
        grid-template-rows: 260px 260px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .footer {
        padding: 15px 0 25px 0;
        &__links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}


