/* Variables */

@import "./utils/variables";

/* Mixins */

@import "./utils/mixins";

/* body */

@import "./base/body";

/* Load-spinner */

@import "./components/loadspinner";

/* header */

@import "./layout/header";

/* Search bar */

@import "./components/searchbar";

/* button */

@import "./components/button";

/* homepage */

@import "./pages/homepage";

/* cards */

@import "./components/cards";

/* hearth - Home Page */

@import "./components/hearth-homepage";

/* footer */

@import "./layout/footer";

/* Média Queries */

@media screen and (min-width: 768px) {
    .functioning__blocks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__block {
            width: 100%;
        }
    }

    .restaurants__cards {
        display: grid;
        grid-template-rows: 260px 260px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .footer {
        padding: 15px 0 25px 0;
        &__links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}


