/* Home page */

.presentation__button {
    border-radius: 200px;
    font-weight: 400;
    color: $white-color;
    padding: 0 20px;
    margin-top: 10px;
    background-image: $background-gradient;
    box-shadow: $box-shadow;
    cursor: pointer;
    &:hover {
        @include lighten-button; 
    }
}


/* Page menu */

.menu {
    &__container-button {
        @include flex-center;
        width: 100%;
        height: 100px;
        margin: 25px 0 35px 0;
    }
    &__button {
        padding: 15px 50px;
        border-radius: 40px;
        color: $white-color;
        background-image: $background-gradient;
        cursor: pointer;
        &:hover {
            @include lighten-button; 
        }
    }
} 