.menu__header-hearth {
    @include flex-center;
    margin-right: 40px;
    width: 35px;
}
.heart {
    width: 30px;
    stroke-width: 25;
    stroke: black;
    fill: $light-color;
    cursor: pointer;
}
.heart-fill {
    position: absolute;
    fill: url(#heart-gradient);
    opacity: 0;
    &:hover {
        opacity: 1;
        transition: 0.5s ease-in-out;
      }
}
